<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>osms</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>index_url</param-name>
    <param-value>/WEB-INF/views/index.jsp</param-value>
  </context-param>
  <servlet>
    <servlet-name>dispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcherServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath:applicationContext.xml
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>hiddenHttpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>hiddenHttpMethodFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>
            com.osms.listener.OnLineListener 
        </listener-class>
  </listener>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <filter>
    <filter-name>userFilter</filter-name>
    <filter-class>com.osms.filter.UserFilter</filter-class>
    <init-param>
      <param-name>pass</param-name>
      <param-value>/;/index.html;/ueditor/index.html;/index.htm;/login.jsp;/logout.html;/pwd.html;/config.html;/addStudent.html;/studentMgr.html;/teacherMgr.html;/bills.html;/visa.html;/studentInfo.html;/notice.html;/controller.jsp;/export.html;.*.json;.*.css;.*.js;.*.png;.*.gif;.*.JPG;.*.jpg;.*.map;.*.swf;.*.eot;.*.svg;.*.ttf;.*.woff;</param-value>
    </init-param>
    <init-param>
      <param-name>error_url</param-name>
      <param-value>/login.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>userConstants</param-name>
      <param-value>user</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>userFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>loginAction</servlet-name>
    <servlet-class>com.osms.proxy.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAction</servlet-name>
    <url-pattern>/index.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>indexAction</servlet-name>
    <servlet-class>com.osms.proxy.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexAction</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>configAction</servlet-name>
    <servlet-class>com.osms.proxy.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>configAction</servlet-name>
    <url-pattern>/config.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userInfoAction</servlet-name>
    <servlet-class>com.osms.proxy.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userInfoAction</servlet-name>
    <url-pattern>/studentInfo.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutAction</servlet-name>
    <servlet-class>com.osms.proxy.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutAction</servlet-name>
    <url-pattern>/logout.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pwdAction</servlet-name>
    <servlet-class>com.osms.proxy.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pwdAction</servlet-name>
    <url-pattern>/pwd.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addStudentAction</servlet-name>
    <servlet-class>com.osms.proxy.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudentAction</servlet-name>
    <url-pattern>/addStudent.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentMgrAction</servlet-name>
    <servlet-class>com.osms.proxy.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentMgrAction</servlet-name>
    <url-pattern>/studentMgr.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>teacherMgrAction</servlet-name>
    <servlet-class>com.osms.proxy.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherMgrAction</servlet-name>
    <url-pattern>/teacherMgr.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>billsAction</servlet-name>
    <servlet-class>com.osms.proxy.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>billsAction</servlet-name>
    <url-pattern>/bills.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>visaAction</servlet-name>
    <servlet-class>com.osms.proxy.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>visaAction</servlet-name>
    <url-pattern>/visa.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>noticeAction</servlet-name>
    <servlet-class>com.osms.proxy.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>noticeAction</servlet-name>
    <url-pattern>/notice.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>exportAction</servlet-name>
    <servlet-class>com.osms.proxy.DelegatingServletProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportAction</servlet-name>
    <url-pattern>/export.html</url-pattern>
  </servlet-mapping>
</web-app>